<div class="index-bg text-white d-flex flex-column justify-content-center align-items-center">
  <h2><%=@list.name%></h2>
</div>
<div style="margin: 50px 100px">
  <div class="d-flex justify-content-end">
    <a class="btn btn-success" href="<%=new_list_bookmark_path(@list)%>">Add a movie</a>
  </div>
  <div class="m-4 d-flex flex-row">
    <% if @list.movies.empty?%>
      <p>The list is empty !</p>
    <% else%>
      <div class="container">
        <%@list.bookmarks.each do |bookmark|%>
          <div class="d-flex flex-row justify-content-between">
            <div class="card shadow col-3" style="width: 18rem;">
              <img class="card-img-top p-2" src="<%=bookmark.movie.poster_url%>" alt="Card image cap" style="height: 200px; object-fit: cover">
              <div class="card-body">
                <div class="text-end">
                  <p>Rating: <%= bookmark.movie.rating %> /10 <i class="fa-solid fa-star text-warning"></i></p>
                </div>
                <h3><%= bookmark.movie.title %></h3>
                <p class="card-text"><%= bookmark.movie.overview %></p>
              </div>
            </div>
            <%# Reviews %>
            <div style="width: 40%">
              <h4>Reviews : </h4>
              <ul class="list-group" >
                <li class="list-group-item bg-primary text-light"><%=bookmark.comment%></li>
                <% bookmark.reviews.each do |review| %>
                  <li class="list-group-item">
                    <div class="d-flex flex-row justify-content-between">
                      <%= review.content %>
                      <p>anonymous</p>
                    </div>
                  </li>
                <%end%>
              </ul>
            </div>
            <%# new review %>
            <div>
              <h1>New review</h1>
              <%= simple_form_for [bookmark, @review] do |review|%>
                <%= review.input :content%>
                <%= review.submit "Submit", class: "btn btn-success"%>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>
</div>
