<div class="index-bg text-white d-flex flex-column justify-content-center align-items-center">
  <h2><%=@list.name%></h2>
</div>
<div style="margin: 50px 100px">
  <div class="d-flex justify-content-end">
    <a class="btn btn-success" href="<%=new_list_bookmark_path(@list)%>">Add a movie</a>
  </div>
  <div class="m-4 d-flex flex-row">
    <% if @list.movies.empty?%>
      <p>The list is empty !</p>
    <% else%>
      <div class="container">
        <%@list.movies.each do |movie|%>
          <div class="d-flex flex-row justify-content-between">
            <div class="card shadow col-3" style="width: 18rem;">
              <img class="card-img-top mt-2" src="<%=movie.poster_url%>" alt="Card image cap" style="height: 200px; object-fit: cover">
              <div class="card-body">
                <div class="text-end">
                  <p>Rating: <%= movie.rating %> <i class="fa-solid fa-star text-warning"></i></p>
                </div>
                <h3><%= movie.title %></h3>
                <p class="card-text"><%= movie.overview %></p>
              </div>
            </div>
            <div style="width: 40%">
              <h4>Reviews : </h4>
              <ul class="list-group" >
                <li class="list-group-item"><%=@list.bookmarks[@list.movies.index(movie)].comment%></li>
                
              </ul>
            </div>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>
</div>
